*{
    box-sizing: border-box;
}
body{
    max-width: 500px;
    margin: auto;
}
.users{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    border: 1px solid black;
}
